<h1 class="page-header">Edit Task</h1>

<ol class='breadcrumb'>
  <li><%= link_to 'Tasks', tasks_path %></li>
  <li><%= link_to @task.description, task_path(@task) %></li>
  <li>Edit</li>
</ol>


<%= render 'form', form_button: 'Update Task' %>
