<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New User', new_user_path, class: 'btn btn-info' %>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.full_name %>
      </td>
      <td>
        <%= mail_to user.email %>
      </td>
      <td>
        <div class="text-right">
          <%= link_to 'Edit', edit_user_path(user) %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
