<h1 class="page-header">About</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "about.jpg", class: "img-responsive" %>
  </div>
  <div class="col-md-8">
    <p>
      We are dedicated to the makers, the creators, the risk-takers.
    </p>
    <p>
      We wake up in the middle of the night and furiously write down ideas about how to make your online life better.
    </p>
    <p>
      Human collaboration and communication is what drives us, and it infuses every feature of gCamp.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>
      gCamp is extremely active. Check out our killer stats below!
    </h4>
    <h4>
      <%= "#{Project.all.size} #{'Project'.pluralize(Project.all.size)}, #{Task.all.size} #{'Task'.pluralize(Task.all.size)}, #{Membership.all.size} #{'Project Members'.pluralize(Membership.all.size)}, #{User.all.size} #{'User'.pluralize(User.all.size)}, #{Comment.all.size} #{'Comment'.pluralize(Comment.all.size)}" %>
    </h4>
  </div>
</div>
