<h1 class='page-header'>New Project</h1>

<ol class='breadcrumb'>
  <li><%= link_to 'Projects', projects_path %></li>
  <li>New Project</li>
</ol>

<%= render 'form', form_button: "Create Project" %>
